<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/bootstrap.min.css">
    <title>Registrar</title>
</head>

<body class="bg-body-red">
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-5 my-3">
            <h3>Resgistre-se</h3>
            <form action="" method="post">
                <div class="mb-2">
                    <label for="name" class="form-label">Nome: </label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>
                <div class="mb-2">
                    <label for="address" class="form-label">Endereço: </label>
                    <input type="text" class="form-control" name="address" id="address">
                </div>
                <div class="mb-2">
                    <label for="cpf" class="form-label">CPF: </label>
                    <input type="text" class="form-control" name="cpf" id="cpf">
                </div>
                <div class="mb-2">
                    <label for="birthDate" class="form-label">Data Nascimento: </label>
                    <input type="text" class="form-control" name="birthDate" id="birthDate">
                </div>
                <div class="mb-2">
                    <label for="email" class="form-label">Email: </label>
                    <input type="email" class="form-control" name="email" id="email">
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Senha: </label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="mb-3" >
                    <label for="passwordConfirmation" class="form-label">Confirmação de senha: </label>
                    <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation">
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
    
    <script src="../dist/bootstrap.bundle.min.js"></script>
</body>

</html>